
/**
* Images
**/ 
.img-fix {
    max-height:121px; 
    margin:0 auto;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.container h1 {
    color: white;
}
.profile-pic {
	margin:auto; 
	width:250px;
	display:block;
	border-radius: 50%;
}
.portfolio-pic-sm {
	margin:auto;
	height:150px;
	width:150px;
	border-radius:20%;
}
.portfolio-pic-lrg {
	margin:auto;
	height:200px;
	width:200px;
	border-radius:20%;
}
.resume-company {
	color: rgb(24, 188, 156); 
	margin-top:50px;
}